
.bg{
    background-image: url(https://cdn.pixabay.com/photo/2022/03/13/15/45/coffee-7066308_960_720.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}