
/* class selector */
.head {
    color: red;
}

.theory {
    color: yellow;
    background-color: black;
    font-size: large;
}

/* id selector */
#idsel {
    color: blueviolet;
}

#idselth{
    color: brown;
    background-color: rgb(181, 165, 165);
    font-size: x-large;
}

/* */
ul p{
  color:red;
}

ul .java{
  color:blue;
  font-size:20px;
}

ul #python {
  color:blueviolet;
  font-size:50px;
}